# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.xml
.idea
*.coverprofile

# Terraform
.terraform
terraform.tfstate*
*.tf
.terraform.lock.hcl

# Kubernetes
*.conf
!/images/hello-frontend/*conf

# KubeDB
*.kubedb.com.yaml
onessl
